.Small {
    padding-left: 10px;

}

.Small__Primary {
    background-color: blue;
    color: white;
    padding: 7px 26px;
    border: 0px;
    border-radius: 10px;
   
}

.Small__danger {
    background-color: red;
    padding: 7px 26px;
    color: white;
    border: 0px;
    border-radius: 10px;
    
}

.Small__warning {
    background-color: orange;
    padding: 7px 26px;
    color: white;
    border: 0px;
    border-radius: 10px;
    
}

.Small__info {
    background-color: rgb(73, 209, 214);
    padding: 7px 20px;
    color: white;
    border: 0px;
    border-radius: 10px;
 
}

.Small__success {
    background-color: green;
    padding: 7px 26px;
    color: white;
    border: 0px;
    border-radius: 10px;
    
}

.Small__default {
    background-color: white;
    padding: 7px 26px;
    color: black;
    border-radius: 0%;
    border-radius: 10px;
    

}

.Small__link {
    color: blue;
    padding: 7px 26px;
    border: 0px;
    background-color: white;
    border-radius: 10px;
    

}