.ExtrasmallSize {
    padding-left: 10px;

}

.options4 {
    color: white;
    padding: 7px 20px;
    border-radius: 10px;
    border: 0px;
}

.ExtrasmallSize__Primary {
    background-color: blue;
}

.ExtrasmallSize__danger {
    background-color: red;
}

.ExtrasmallSize__warning {
    background-color: orange;
}

.ExtrasmallSize__info {
    background-color: rgb(73, 209, 214);
    padding: 7px 15px;
}

.ExtrasmallSize__success {
    background-color: green;
}

.ExtrasmallSize__default  {
    background-color: white;
    color: black;
    border: 5px !important;
    
}

.ExtrasmallSize__link {
    color: blue;
    background-color: transparent;
}