.navigation {
width: 100%;
  display: flex; 
  justify-content: center;  
  
}


.navigation__item  {
    list-style-type: none;
    margin-left: 20px;
}

.navigation__item a {
    cursor: pointer;
    color: yellow;
    background-color: rgb(161, 13, 124);
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 10px 2px aqua;
}