.container,
.list-group-item {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.container {
    width: 30vw;
    padding: 100px 0 ;
    flex-direction: column;
}

.input-group {
    margin: 0 0 50px;
}

.form-check-input {
    cursor: pointer;
}

.task-text {
    margin: 0 15px;
}

.form-check-input {
    width: 20px;
    height: 20px;
}