.container {
    height: 100vh;
}

.image {
    background: url(../images/picture-tag/small.jpg) no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
}

@media only screen and (min-width: 768px) {
    .image {
        background-image:  url(../images/picture-tag/medium.jpg);
    }
}

@media only screen and (min-width: 1200px) {
    .image {
        background-image:  url(../images/picture-tag/large.jpg);
    }
}