.animation {
    height: 95vh;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.animation__loader {
    background-color: lightgrey;
    width: 25px;
    height: 25px;
    margin: 10px;
    border-radius: 50%;
    animation-name: circle-to-cirkle;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;

}



.animation__loader_2 {
   animation-delay: 0.2s;

}

.animation__loader_3 {
    animation-delay: 0.4s;
}


@keyframes circle-to-cirkle {
    from {
        width: 10px;
        height: 10px;
        background-color: lightgrey;
    }

    to {
        width: 25px;
        height: 25px;
        background-color: rgb(56, 56, 56);
    }
}