/* 
    основной размер шрифта для body 16px
*/
html {
    font-size: 16px;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 1em;
}

h5{
    font-size: 2/3em;
}

h6{
    font-size: 0.5em;
}


/*наша задача настроить стили для заголовков   
пусть базовый шрифт будет 16px    
h1 в три раза больше  
h2 в два раза больше  
h3 в полтора раза больше  
h4 размер базового шрифта   
h5 меньше на треть  
h6 меньше на половину  */